@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}

.social-icons {
  @apply text-white p-3 border border-white rounded-full cursor-pointer duration-150;
}

.titleLarge {
  @apply font-semibold text-5xl;
}

.titleMedium {
  @apply font-semibold text-3xl;
}

.contact-us-box {
  @apply flex items-center gap-x-4 py-10 px-14 border border-zinc-100 hover:border-gold duration-200;
}

.padx {
  @apply px-12 md:px-20 lg:px-32;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
